<%# Home Page %>

<div class="mdui-row">
    <%# the article list %>
    <div class="mdui-col-md-7 mdui-col-offset-md-1 mdui-col-xs-12">
        <% page.posts.each(function(item){ %>
            <%# article excerpt %>
            <%- partial('_partial/article-excerpt', {item: item, hide_excerpt: false}) %>
        <% }); %>
    </div>
    <%# useful infomation panels %>
    <div class="mdui-col-md-3 mdui-col-xs-12 simple-right-panel">
        <%- partial('_partial/index/latest-message') %>
        <%- partial('_partial/index/hot-tags') %>
        <%- partial('_partial/index/recent-posts') %>
        <%- partial('_partial/index/wechat-public-number') %>
    </div>
</div>

<%- partial('_partial/pagination') %>
