<%# article page %>

<div class="simple-post-header"></div>

<%# content %>
<div class="mdui-row" style="margin-top: -110px;z-index:9999;">
    <div class="mdui-card mdui-col-md-7 mdui-col-offset-md-1 mdui-col-xs-12 mdui-shadow-12 simple-post-cls" id="simple-post">
        <div class="mdui-card-content mdui-typo">
            <%# title %>
            <h1><%- page.title %></h1>

            <%# post date %>
            <small class="mdui-typo-body-2-opacity mdui-m-b-1 simple-post-date">
                <%= page.date.format(config.date_format) %>
            </small>

            <%# reading times %>
            <div class="mdui-center mdui-text-center">
                <span id="busuanzi_container_page_pv">
                    <del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</del> 阅读量 
                    <span id="busuanzi_value_page_pv"></span> 
                    <del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</del>
                </span>
            </div>

            <br>

            <%# content %>
            <div class="mdui-m-b-2 simple-content">
                <%- page.content %>
            </div>

            <%# post modify date & link %>
            <div class="mdui-m-y-5 mdui-typo">
                <div class="simple-content-end mdui-valign">
                    最后修改时间: <%= page.updated.format(config.date_format + " " + config.time_format) %>
                    <br>
                    原始链接: <%= page.original_link %>
                </div>
            </div>

            <%# author & donation %>
            <div class="mdui-center mdui-text-center simple-post-author">
                <p>
                    <img class="mdui-img-circle" src="<%= theme.avatar %>"/>
                    <br>
                    <span class="mdui-typo-title"><%= config.author %></span>
                    <br>
                    <br>
                    <button class="mdui-btn mdui-ripple simple-donation-btn" mdui-dialog="{target: '#simple-donation'}">
                        <i class="mdui-icon mdui-icon-left material-icons">&#xe8dc;</i>稀罕作者
                    </button>
                </p>
            </div>

            <%# divider %>
            <div class="mdui-divider mdui-m-t-5 mdui-m-b-1"></div>

            <%# share %>
            <div class="mdui-row">
                <div class="mdui-col-md-1 mdui-col-offset-md-11 mdui-col-xs-1 mdui-col-offset-xs-11 simple-share simple-post-share-detail" style="margin-top: -300px;display:none;">
                    <a href="<%= theme.post.share.url.twitter %>?text=<%= page.title %>&url=<%= theme.url %><%= page.path %>&via=<%= theme.url %>" data-title="分享到Twitter" target="_blank" class="mdui-fab mdui-ripple mdui-color-light-blue mdui-valign mdui-text-center simple-post-share-btn">
                        <i class="fab fa-twitter fa-sm"></i>
                    </a>
                    <a href="<%= theme.post.share.url.facebook %>?u=<%= theme.url %><%= page.path %>" alt="分享到FaceBook" target="_blank" class="mdui-fab mdui-ripple mdui-color-indigo mdui-valign mdui-text-center simple-post-share-btn">
                        <i class="fab fa-facebook-f fa-sm"></i>
                    </a>
                    <a href="<%= theme.post.share.url.google_plus %>?url=<%= theme.url %><%= page.path %>" alt="分享到Google+" target="_blank" class="mdui-fab mdui-ripple mdui-color-deep-orange mdui-valign mdui-text-center simple-post-share-btn">
                        <i class="fab fa-google-plus-g fa-sm"></i>
                    </a>
                    <a href="<%= theme.post.share.url.qq %>?url=<%= theme.url %><%= page.path %>&title=<%= page.title %>&source=truncate(strip_html(page.excerpt), { length: 80})" alt="分享到QQ" target="_blank" class="mdui-fab mdui-ripple mdui-color-blue mdui-valign mdui-text-center simple-post-share-btn">
                        <i class="fab fa-qq fa-sm"></i>
                    </a>
                    <a href="<%= theme.post.share.url.weibo %>?url=<%= theme.url %><%= page.path %>&title=<%= page.title %>" alt="分享到微博" target="_blank" class="mdui-fab mdui-ripple mdui-color-red mdui-valign mdui-text-center simple-post-share-btn">
                        <i class="fab fa-weibo fa-sm"></i>
                    </a>
                    <a href="javascript:;" alt="分享到微信" target="_blank" class="mdui-fab mdui-ripple mdui-color-green mdui-valign mdui-text-center simple-post-share-btn">
                        <i class="fab fa-weixin fa-sm"></i>
                    </a>
                </div>
                <div class="mdui-col-md-1 mdui-col-offset-md-11 mdui-col-xs-1 mdui-col-offset-xs-11 simple-share" id="simple-post-share">
                    <button class="mdui-btn mdui-ripple mdui-fab simple-post-share-btn">
                        <i class="mdui-icon material-icons mdui-color-theme-accent">&#xe80d;</i>
                    </button>
                </div>
            </div>

            <%# tags %>
            <% if(page.tags && page.tags.length) { %>
                <div class="mdui-m-b-1">
                <% page.tags.forEach(function(tag, i) { 
                    var color = 'mdui-color-' + theme.tags.colors[i % theme.tags.colors.length]; %>
                    <a href="<%- url_for(tag.path) %>" class="mdui-btn mdui-btn-dense mdui-hoverable <%= color %> simple-article-tags">
                        <%- tag.name %>
                    </a>
                <% }); %>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%# prev & next page %>
<div class="mdui-row mdui-p-y-1">
    <%# prev page %>
    <div class="mdui-col-md-4 mdui-col-offset-md-1 mdui-col-xs-6 mdui-text-left mdui-typo">
    <% if(page.prev) { %>
        <a href="<%- url_for(page.prev.path) %>"><label class="label-post-prev">☜</label><%= page.prev.title %></a>
    <% } %>
    </div>

    <%# next page %>
    <% if(page.next) { %>
        <div class="mdui-col-md-3 mdui-col-xs-6 mdui-text-right mdui-typo">
            <a href="<%- url_for(page.next.path) %>"><%= page.next.title %><label class="label-post-next">☞</label></a>
        </div>
    <% } %>
</div>

<%# toc %>
<div class="mdui-drawer mdui-drawer-right simple-toc-cls" id="simple-toc">
    <nav class="post-toc-wrap post-toc-shrink" style="width:240px;">
        <div class="mdui-card mdui-hoverable">
            <div class="mdui-card-header">
                <h3><i class="mdui-list-item-icon mdui-icon ion-ios-flame"></i> TOC</h3>
            </div>
            <div class="mdui-card-content" style="height:400px;overflow-y: auto;overflow-x:hidden;">
                <% if (page.toc != false){ %>
                    <%- toc(page.content, {list_number: false, class: "post-toc"}) %>
                <% } %>
            </div>
        </div>
    </nav>
</div>

<%# reward %>
<div class="mdui-dialog simple-donation-cls" id="simple-donation">
    <div class="mdui-dialog-title">支持一下?</div>
    <div class="mdui-row mdui-m-b-3">
        <div class="mdui-col-md-12 mdui-text-center">
            <p id="simple-alipay">
                <img src="/images/alipay.jpg"/>
                <br>
                <span class="mdui-typo-title">Alipay 支付宝</span>
            </p>
            <p class="simple-wechat-cls" id="simple-wechat">
                <img src="/images/wechat.jpg"/>
                <br>
                <span class="mdui-typo-title">WeChat 微信</span>
            </p>
        </div>
        <div class="mdui-col-md-12 mdui-text-center">
            <label class="mdui-switch" id="simple-switch">
                <input type="checkbox"/>
                <i class="mdui-switch-icon"></i>
            </label>
        </div>
    </div>
</div>

<%# comments %>
<div class="mdui-row mdui-p-t-1 mdui-p-b-3">
    <div class="mdui-col-md-7 mdui-col-offset-md-1 mdui-col-xs-12 mdui-col-offset-xs-0 mdui-shadow-12">
        <%- partial('_partial/comment') %>
    </div>
</div>
<%- js('js/post.js') %>
