<%# article list %>

<div class="mdui-card mdui-hoverable">
    <div class="mdui-card-content mdui-typo">
        <%# create date of article %>
        <span class="simple-excerpt-date">
            <i class="mdui-icon material-icons">&#xe916;</i> <label><%= item.date.format(config.date_format) %></label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="mdui-icon material-icons">&#xe149;</i> <label>
            <% item.categories.each(function(category, i) { %>
                <a href="<%= url_for(category.path) %>"><%= category.name %></a>
            <% }); %>
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="mdui-icon material-icons">&#xe24b;</i> <label><%= wordcount(item.content) %> 字</label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <i class="mdui-icon material-icons">&#xe192;</i> <label><%= min2read(item.content) %> 分钟</label>
        </span>

        <%# title of article %>
        <div class="mdui-typo-headline mdui-text-color-theme mdui-m-b-2 mdui-m-t-1">
            <a href="<%- url_for(item.path) %>" class="mdui-text-color-theme" style="white-space:nowrap;font-size:20px;">
                <%- item.title %>
            </a>
        </div>

        <%# excerpt of article %>
        <% if(!hide_excerpt) { %>
            <div class="mdui-m-b-1">
                <% if(theme.excerpt.render) { %>
                    <%- item.excerpt || item.content %>
                <% } else { %>
                    <%- item.excerpt ? strip_html(item.excerpt) : truncate(strip_html(item.content), {
                        length: theme.excerpt.length
                    }) %>
                <% } %>
                <br>
                <a href="<%= url_for(item.path) %>"><%= theme.excerpt.link %></a>
            </div>
        <% } %>

        <div class="mdui-divider mdui-m-b-1"></div>

        <%# tags of article %>
        <% if(item.tags && item.tags.length){ %>
            <% item.tags.each(function(tag, i){ 
                var color = 'mdui-color-' + theme.tags.colors[i % theme.tags.colors.length]; %>
            %>
                <a href="<%= url_for(tag.path) %>" class="mdui-btn mdui-btn-dense mdui-hoverable <%= color %> simple-article-tags">
                    <%- tag.name %>
                </a>
            <% }); %>
        <% } %>
    </div>
</div>
<br>
